* {
	box-sizing: border-box; 
}

::-moz-selection { /* Code for Firefox */
	color: none;
	background: none;
}

::selection {
	color: none; 
	background: none;
}

a {
	text-decoration: none; 
	background-color: none;
	color: #009688;
}

.img-circle {
	margin-top: 3%;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}

.center.info {
	color: #009688;
	font-family: 'PT Sans Narrow', sans-serif;
	margin-top: 10%;
	font-size: 40px;
}

.center {
	color: #74767a;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 90px;
}​

html, body {
	font-size: 10px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 150%;
	background-color: #edece9;
}

div {
	height: 100%; 
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
}